@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

.item-wrapper {
  border: 1px solid $gray-800;
  border-radius: $border-radius;
  padding: $table-cell-padding-sm;
  cursor: pointer;
}

.key {
  color: $primary;
}

.value {
  float: right;
  font-weight: 500;
}
